 @model VentasViewModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Venta</h1>

<h3>¿Seguro que deseas eliminarla?</h3>
<div>
    <h4>VentasModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroOrden)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroOrden)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadVendida)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadVendida)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
