@model ReportesVentasViewModel

@{
    ViewData["Title"] = "Plato más vendido del mes";
}

<h4>Plato más vendido del mes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PlatoMasVendidoDelMes">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaMes" class="control-label"></label>
                <input type="month" asp-for="FechaMes" class="form-control" />
                <span asp-validation-for="FechaMes" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Generar Reporte" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (ViewBag.Plato != null)
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Imagen)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoriaNombre)
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    PlatosViewModel item = ViewBag.Plato;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @try
                            {
                                string base64Imagen = Convert.ToBase64String(item.Imagen);
                                string imagenDataUrl = $"data:image/jpeg;base64,{base64Imagen}";

                                <img class="producto-imagen img-thumbnail img-fluid d-block" src="@imagenDataUrl" alt="Imagen" />
                            }
                            catch (ArgumentNullException)
                            {

                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoriaNombre)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-warning d-flex align-items-center mt-3" role="alert">
        <div>
            No se encontraron registros.
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
